USE [master]
GO
/****** Object:  Database [English]    Script Date: 6/9/2020 4:06:34 PM ******/
CREATE DATABASE [English]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'English', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\English.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'English_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\English_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [English].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [English]
GO
/****** Object:  Table [dbo].[Story]    Script Date: 6/9/2020 4:06:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Story](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Story] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Story_Word]    Script Date: 6/9/2020 4:06:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Story_Word](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDWord] [bigint] NOT NULL,
	[IDStory] [bigint] NOT NULL,
 CONSTRAINT [PK_Story_Word] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 6/9/2020 4:06:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[ID] [tinyint] NOT NULL,
	[Name] [nvarchar](10) NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Word]    Script Date: 6/9/2020 4:06:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Word](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Text] [nvarchar](100) NOT NULL,
	[Translate] [nvarchar](100) NULL,
	[TypeID] [tinyint] NULL,
 CONSTRAINT [PK_Word] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Story] ON 

INSERT [dbo].[Story] ([ID], [Name]) VALUES (12609, N'Natural')
INSERT [dbo].[Story] ([ID], [Name]) VALUES (12610, N'Blue Jeans')
INSERT [dbo].[Story] ([ID], [Name]) VALUES (12611, N'After The Rain')
SET IDENTITY_INSERT [dbo].[Story] OFF
SET IDENTITY_INSERT [dbo].[Story_Word] ON 

INSERT [dbo].[Story_Word] ([ID], [IDWord], [IDStory]) VALUES (350182, 49894, 12609)
INSERT [dbo].[Story_Word] ([ID], [IDWord], [IDStory]) VALUES (350183, 44361, 12609)
INSERT [dbo].[Story_Word] ([ID], [IDWord], [IDStory]) VALUES (350184, 26142, 12609)
GO
SET IDENTITY_INSERT [dbo].[Story_Word] OFF
INSERT [dbo].[Type] ([ID], [Name]) VALUES (1, N'Default')
INSERT [dbo].[Type] ([ID], [Name]) VALUES (2, N'Know')
INSERT [dbo].[Type] ([ID], [Name]) VALUES (3, N'White')
SET IDENTITY_INSERT [dbo].[Word] ON 

INSERT [dbo].[Word] ([ID], [Text], [Translate], [TypeID]) VALUES (24642, N'games', N'игры, для игры, для игр', 2)
INSERT [dbo].[Word] ([ID], [Text], [Translate], [TypeID]) VALUES (24645, N'the', N'в, к, а', 2)
INSERT [dbo].[Word] ([ID], [Text], [Translate], [TypeID]) VALUES (24649, N'your', N'ваш, к вашему', 2)
GO
SET IDENTITY_INSERT [dbo].[Word] OFF
ALTER TABLE [dbo].[Word] ADD  CONSTRAINT [DF_Word_TypeID]  DEFAULT ((1)) FOR [TypeID]
GO
ALTER TABLE [dbo].[Story_Word]  WITH CHECK ADD  CONSTRAINT [FK_Story_Word_Story] FOREIGN KEY([IDStory])
REFERENCES [dbo].[Story] ([ID])
GO
ALTER TABLE [dbo].[Story_Word] CHECK CONSTRAINT [FK_Story_Word_Story]
GO
ALTER TABLE [dbo].[Story_Word]  WITH CHECK ADD  CONSTRAINT [FK_Story_Word_Word] FOREIGN KEY([IDWord])
REFERENCES [dbo].[Word] ([ID])
GO
ALTER TABLE [dbo].[Story_Word] CHECK CONSTRAINT [FK_Story_Word_Word]
GO
ALTER TABLE [dbo].[Word]  WITH CHECK ADD  CONSTRAINT [FK_Word_Type] FOREIGN KEY([TypeID])
REFERENCES [dbo].[Type] ([ID])
GO
ALTER TABLE [dbo].[Word] CHECK CONSTRAINT [FK_Word_Type]
GO
USE [master]
GO
